{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "no-param-reassign": "off",
    "no-use-before-define": "off"
  }
}
