@mixin unstyledButton {
  display: inline-block;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  background: none;
  appearance: none;
  cursor: pointer;
}

@mixin transition($property: all, $speed: fast) {
  transition: $property map-get((
    fast: 100ms,
    normal: 200ms,
    slow: 400ms,
  ), $speed) ease-out;
}
