// Colors
// Based on: https://bulma.io/documentation/overview/colors/
$colorLight: hsl(0, 0%, 96%);
$colorLightInverted: hsl(0, 0%, 21%);
$colorDark: hsl(0, 0%, 21%);
$colorDarkInverted: hsl(0, 0%, 96%);
$colorPrimary: hsl(171, 100%, 41%);
$colorPrimaryInverted: white;
$colorLink: hsl(217, 71%, 53%);
$colorLinkInverted: white;
$colorInfo: hsl(204, 86%, 53%);
$colorInfoInverted: white;
$colorSuccess: hsl(141, 71%, 48%);
$colorSuccessInverted: white;
$colorWarning: hsl(48, 100%, 67%);
$colorWarningInverted: rgba(0, 0, 0, 0.7);
$colorDanger: hsl(348, 100%, 61%);
$colorDangerInverted: white;
$colorText: hsl(0, 0%, 29%);
$colorTextLight: hsl(0, 0%, 48%);
$colorTextDark: hsl(0, 0%, 21%);

// Font families
$fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
$fontFamilyMonospace: 'Andale Mono', Menlo, Consolas, monospace;

// Font weights
$weightLight: 300;
$weightNormal: 400;
$weightMedium: 500;
$weightSemibold: 600;
$weightBold: 700;

// Sizing
$widgetWidth: 300px;
$widgetHeight: 600px;
$headerHeight: 100px;
$paddingHorizontal: 20px;
