@import '~minireset.css/minireset.sass';
@import '../styles/variables';
@import '../styles/mixins';

html,
body,
:global(#root),
x-app {
  height: 100%;
}

x-app,
x- // wrapper elements created by hyperapp-nestable
{
  display: block;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 20px 10px;
  background: rgba(black, 0.5);
  font-family: $fontFamily;
  font-size: 16px;
  line-height: 1.25;
  color: $colorText;
}

.modalWrapper {
  width: $widgetWidth;
  height: $widgetHeight;
}

.modal {
  position: relative;
  box-shadow: 0 4px 10px 0 rgba(#000, 0.1);
}

.body {
  overflow: auto;
  max-height: $widgetHeight - $headerHeight;
  background: white;
}

.closeButton {
  @include unstyledButton;
  @include transition(opacity);
  position: absolute;
  top: -5px;
  right: -5px;
  width: 44px;
  height: 44px;
  opacity: 0.75;
  color: white;

  &:hover {
    opacity: 1;
  }
}

.closeIcon {
  font-size: 24px;
}
