@import '../../styles/variables';

.root {
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  text-align: center;
}

.messageSuccess {
  color: $colorSuccess;
}

.messagePending {
  font-style: italic;
  color: $colorInfo;
}

.pendingSpinner {
  margin-right: 5px;
}

.walletAddress {
  margin-bottom: 10px;
}

.qrCode {
  border: 2px solid $colorLight;
}
