@import '../../styles/variables';

.root {
  display: flex;
  flex-direction: column;
}

.button {
  text-align: left;

  span {
    float: right;
    margin-top: 6px;
    font-size: 12px;
    font-weight: $weightNormal;
    opacity: 0.75;
  }

  & + & {
    margin-top: 10px;
  }
}

.icon {
  margin-right: 10px;
  vertical-align: -5px;
  font-size: 22px;
  fill: white;
}

.buttonEthereum {
  $color: #454b72;
  background: $color;

  &:hover {
    background: darken($color, 2.5%);
  }
}

.buttonBitcoin {
  $color: #eb973d;
  background: $color;

  &:hover {
    background: darken($color, 2.5%);
  }
}

.buttonBitcoinCash {
  $color: #e48f39;
  background: $color;

  &:hover {
    background: darken($color, 2.5%);
  }
}

.buttonLitecoin {
  $color: #bebebe;
  background: $color;

  &:hover {
    background: darken($color, 2.5%);
  }

  .icon {
    transform: scale(0.8);
  }
}
