@import '../../styles/variables';
@import '../../styles/mixins';

.root {
  @include ellipsis;
  line-height: 13px;
  padding: 0 5px;
  background: $colorDanger;
  font-size: 10px;
  text-align: center;
  color: $colorDangerInverted;
}
